.profileImg {
  box-shadow: inset;
  padding-top: 0.25rem;
  padding-inline: 0.25rem;
  border: 2px solid;
  border-radius: calc(3px);
}

h1 {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.card {
  margin: 0.1rem;
  padding: 0rem !important;
}

@media screen and (max-width: 699px) {
  .occupationDisplay {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 1rem;
  }

  .dataDisplay {
    font-size: 18px;
    padding-bottom: 0.2rem;
    font-weight: 500;
  }
}

@media screen and (min-width: 700px) {
  .occupationDisplay {
    font-size: 28px;
    font-weight: 700;
    padding-bottom: 2rem;
  }

  .dataDisplay {
    font-size: 22px;
    padding-bottom: 0.2rem;
    font-weight: 500;
  }
}
